.module-container{
    width: 420px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-left: 15px;

}
a {
    text-decoration: none; /* Убираем подчеркивание ссылки */
}

a:hover {
    cursor: default; /* Отключаем изменение курсора при наведении */
    color: inherit; /* Наследуем цвет текста ссылки */
}
a:visited {
    color: inherit; /* Наследуем цвет текста ссылки */
}


ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    /*margin: 0;*/
    width: 420px;
    /*margin-left: 50px;*/
    text-align: left;
}
li{
    width: 420px;
    align-items: center;
}
.themodule p{
    margin: 0;
    color: #5B5B5B;
}
.themodule h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.task-level2{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #F4F4F4;
    border-radius: 20px;
    height: 60px;
    padding: 10px;

}

.task-level2 p{
    margin-top: 5px;
    color: #5B5B5B;

}
/*.task-level2 h4{*/
/*    !*margin-top: 5px;*!*/
/*}*/
.task{
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
}
.task p{
    margin-top: 5px;
}
.task h4{
    margin: 5px;
    color: #FF5B00;
    margin-left: 10px;
}
.level1 > li {
    margin-left: 0; /* Сбрасываем отступ для элементов первого уровня */
    padding: 10px;
    width: 400px;
    align-items: center;
    background-color: #FF5B00;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятости */

}
.level2 h4{
    margin: 0;
}
.level2 p{
    margin: 0;
}
.level2 > li {
    margin-left: 20px; /* Отступ для элементов второго уровня */
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px #C1C1C1 solid;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятости */

}
.level1 > li::before {
    margin-right: 5px; /* Добавляем отступ между иконкой и текстом */

}


.level2 > li::before {
    margin-right: 5px; /* Добавляем отступ между иконкой и текстом */
}